button{
    background-color: #070707; /* Green */
    border:none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration:dotted;
    display: inline-block;
    font-size: 16px;
}